javascript:

  $(function () {
      $("#id1").click(function () {
          $("#test1").dialog({
              modal: true, //モーダル表示
              title: "テストダイアログ1", //タイトル
              buttons: { //ボタン
                  "確認": function () {
                      $(this).dialog("close");
                  }
              }
          });
      });
  });