/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require toastr
 *= require_tree .
*/
/*@import "bootstrap-sprockets";*/
@import "bootstrap";
@import "toastr";

.center{
    text-align: center;
}

.center_table{
    margin-left: auto;
    margin-right: auto;
    align: center;
    border-collapse: collapse;
    line-height: 1.8;
}

th{ text-align: center; }
tr{ text-align: center; }

.mt-20{ margin-top: 20px; }
.mt-30{ margin-top: 30px; }
.mt-40{ margin-top: 40px; }
.mt-50{ margin-top: 50px; }
.mt-60{ margin-top: 60px; }
.mt-70{ margin-top: 70px; }
.mt-80{ margin-top: 80px; }
.mt-90{ margin-top: 90px; }
.mt-100{ margin-top: 100px; }
.mt-110{ margin-top: 110px; }

.mb-5{ margin-bottom: 5px; }
.mb-10{ margin-bottom: 10px; }
.mb-20{ margin-bottom: 20px; }
.mb-30{ margin-bottom: 30px; }
.mb-40{ margin-bottom: 40px; }
.mb-50{ margin-bottom: 50px; }
.mb-60{ margin-bottom: 60px; }
.mb-70{ margin-bottom: 70px; }
.mb-80{ margin-bottom: 80px; }
.mb-90{ margin-bottom: 90px; }
.mb-100{ margin-bottom: 100px; }
.mb-110{ margin-bottom: 110px; }
.mb-120{ margin-bottom: 120px; }