// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-check-input{
  margin: 10px;
}

.form-check-label{
  margin: 10px;
}

.m-form{
  margin-bottom: 35px;
}

.label_check_box{
  text-align: left;
}

.table_group{
  width:75%;
  margin-top: 30px;
  margin-bottom: 20px;
}