// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-check-input{
  margin: 10px;
}

.form-check-label{
  margin: 10px;
}

.m-form{
  margin-bottom: 35px;
}

.label_check_box{
  text-align: center;
}

.table_group{
  width:600px;
  margin-bottom: 20px;
}

.group_name{
  width: 70%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.group_detail{
  width: 70%;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.group_add_button{
  margin-right: 15px;
}

.group_index{
  width: 48%;
  float:left;
}

.group_new{
  width: 50%;
  float:right;
}