// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  margin-left: auto;
  margin-right: auto;
}

#inner {
  margin:0 10px;
}

#main-content {
  padding: 10px;
  width: 60%;
  float:left;
}

#side-content {
  padding: 10px;
  width: 40%;
  float:right;
}

th{
  text-align: center;
}

tr{
  text-align: center;
}

.content{
  margin:0 50px;
}