// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  margin-left: auto;
  margin-right: auto;
}

#inner {
  margin:0 10px;
}

#main-content {
  padding: 10px;
  width: 75%;
  float:right;
}

#side-content {
  padding: 10px;
  width: 25%;
  float:left;
  border-right: 1px #c0c0c0 solid;
}

th{
  text-align: center;
}

tr{
  text-align: center;

}

.read{
  background-color: #66FFFF;
}
.unread{

}

.content{
  margin:0 50px;
}