// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_form_tr{
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-around;
}

.m-15{
  margin: 10px;
}

.m-10{
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-10-lr{
  margin-left: 20px;
  margin-right: 20px;
}

.label_search{
  margin: 10px;
  flex-grow: 2;
}

.form_search{
  flex-grow: 5;
}

.panel{
  margin: 40px 400px;
  background-color: white !important;
}

#inner {
  margin:0 10px;
  background-color: aliceblue !important;
}

.panel-info-index{
  background-color: aliceblue !important;
}

#main-content {
  margin-left: 15px;
  margin-right: 15px;
  width: 50%;
  float:right;
  background-color: white !important;
}

#side-content {
  margin-left: 15px;
  margin-right: 15px;
  width: 45%;
  float:left;
  background-color: white;
}

#items {
  background-color: white;
}

tr{
  text-align: center;
  height: 40px;
}

.read{
  background-color: #66FFFF;
}

.content{
  margin:0 50px;
  background-color: white;
}

.search_form{
  width: 100%;
}

.m-100{
  margin-top: 100px;
  margin-bottom: 10px;
}

.table_label{
  width:90%;
  margin-top: 100px;
}

.width90{
  width:90%;
}

.breadcrumbs{
  text-align: left;
  margin-left: 15px;
}

.my_profile{
  font-size: 150%;
  .user_label{
    font-size: 70%;
    text-align: left;
  }

  .user_name{
    font-size: 80%;
    text-align: left;
  }

  .tasks_num_label{
    font-size: 75%;
    text-align: left;
  }
  .tasks_num{
    font-size: 75%;
    text-align: left;
  }
}

.search_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;
  color: #4868ad;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #627295;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.search_btn:active   {
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

#sortable tr:hover { cursor: move; }

.container {
  display: flex;
}

.edit_button{
  padding-left: 7px;
}

.width80{
  width: 100%;
}

.task_search_label {
   display: inline-block;
   margin: 0 15px;
   font-weight: bold;
   //width: 130px;
   height: 34px;
   //padding: 6px 6px;
}

.status_search_label {
  display: inline-block;
  margin: 0 10px;
  font-weight: bold;
  //width: 130px;
  height: 34px;
  //padding: 6px 6px;
}

select {
  width: 130px;
  height: 34px;
  padding: 6px 12px;
  display: block;
  font-size: 14px;
  line-height: 1.428571429;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search_button{
  display: inline-block;
  margin-left: 15px;
}

.select-label {
  width: 160px;
  height: 34px;
}

.search_label{
width: 60%;
display: flex;
margin-left: auto;
margin-right: auto;
//top: 50%;
//left: 50%;
//-ms-transform: translate(-50%,-50%);
}

.status-button{
  margin: 0 10px;
}

.label-task-status{
  margin: 0 25px;
}

.label-status-label{
  margin: 0 35px;
}