// Place all the styles related to the task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search{
  margin-left: 0px;
  margin-right: 0px;
}

.search_form_tr{
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-around;  //display: inline-flex;
}

.label_search{
  margin: 8px;
  flex-grow: 2;
}

.form_search{
  flex-grow: 5;
}

.center{
  background-color: aliceblue !important;
}

.panel{
  margin: 40px 400px;
  background-color: white !important;
}

#inner {
  margin:0 10px;
  background-color: aliceblue !important;
}

#main-content {
  padding: 10px;
  width: 75%;
  float:right;
  background-color: white !important;
}

#side-content {
  padding: 10px;
  width: 25%;
  float:left;
  background-color: white !important;
}

th{
  text-align: center;
}

tr{
  text-align: center;

}

.read{
  background-color: #66FFFF;
}
.unread{

}

.content{
  margin:0 50px;
}

.search_form{
  width: 100%;
}

